<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet-mapping>
        <servlet-name>ProcessGameServlet</servlet-name>
        <url-pattern>/ProcessGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsServlet</servlet-name>
        <url-pattern>/QuestionsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>servlets.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsServlet</servlet-name>
        <servlet-class>servlets.QuestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ProcessGameServlet</servlet-name>
        <servlet-class>servlets.ProcessGameServlet</servlet-class>
    </servlet>
</web-app>
