<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>servlets.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameEndedServlet</servlet-name>
        <url-pattern>/GameEndedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>StartGameServlet</servlet-name>
        <servlet-class>servlets.StartGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayServlet</servlet-name>
        <servlet-class>servlets.PlayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameEndedServlet</servlet-name>
        <servlet-class>servlets.GameEndedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartGameServlet</servlet-name>
        <url-pattern>/StartGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayServlet</servlet-name>
        <url-pattern>/PlayServlet</url-pattern>
    </servlet-mapping>
</web-app>
